my-app {
    display: flex;
}
section {
    margin: auto;
}
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
search-box, proximity-selector {
    display: block;
    margin-top: 1.2rem;
    }
.state {
    font-family: monospace;
    font-size: smaller;
}
.row {
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}
label.disabled {
    color: darkgray;
}
